.input-container {
  @apply w-full rounded-lg border border-gray-200 overflow-hidden;
}

input {
  @apply w-full rounded-lg border-0 py-1.5 px-3;
  font-size: 0.75rem;
  line-height: 25px;
  outline: none;
}
